
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333; 
}


header {
    background-color: #800080; 
    padding: 10px 0;
    height: 43px;
}

nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
}

nav ul li {
    display: inline-block; 
    margin-right: 20px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.image-container {
    max-width: 100%; 
    overflow: hidden; 
    margin-bottom: 100px;
}


.image-container img {
    width: 1500px; 
    height: 500px; 
    display: block; 
}


footer {
    background-color: #800080; 
    color: #fff; 
    text-align: center; 
    padding: 10px 0;
}


marquee {
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
}


.post-info {
    margin: 20px;

}


.post-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}


.post-info ul {
    list-style: none;
    padding: 0;
}


.post-info ul li {
    margin-bottom: 8px;
}


.post-info a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.post-info a:hover {
    text-decoration: underline;
}
