

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#signup {
    text-align: center;
    margin: auto;
}

.lavender-form {
    background-color: lavender;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

header {
    background-color: #800080; 
    padding: 10px 0;
    height: 43px;
    margin-bottom: 150px;
}

nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color:  pink; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:  palevioletred; 
}

button[type="submit"] {
    width: 100%;
}

p {
    margin-top: 10px;
}

p a {
    color: #800080; 
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #800080; 
    color: #fff; 
    text-align: center; 
    padding: 10px 0; 
}
